@font-face {
  font-family: 'Gilroy';
  font-weight: 500;
  src: url("../../public/fonts/Gilroy-Medium.woff") format("truetype");
}

@font-face {
  font-family: 'Gilroy';
  font-weight: 700;
  src: url("../../public/fonts/Gilroy-Bold.woff") format("truetype");
}