.header {
  box-shadow: var(--shadow);
}

.header[data-sticky='true'] {
  position: sticky;
  z-index: 10;
  top: 0;
  background: var(--body-bg);
  animation: slideDown 0.35s ease-out;
}

.header[data-sticky='false'] {
  animation: slideBack 0.35s ease-in;
}

@keyframes slideBack {
  from {
    transform: translateY(200%);
  }
  to {
    transform: translateY(0%);
  }
}

@keyframes slideDown {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

.header-body {
  padding: 25px $gap-sides;
  border-bottom: 1px solid var(--color-transparent);
  height: 100%;
}

.header-links__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-link__list-item-link {
  cursor: pointer;
  @include fontz('Gilroy', 700, 18px);
  color: var(--color-transparent);
  transition: color .3s;
  text-decoration: none;

  &:hover {
    color: var(--color-text)
  }
}

.header-burger__list-closeBtn {
  display: none;
  position: relative;
  width: 27px;
  height: 27px;

  .header-burger__list-closeBtn__bar {
    display: block;
    width: 27px;
    height: 4px;
    background: var(--color-transparent);
    position: absolute;
    top: 50%;

    &:nth-child(1) {
      transform: rotate(45deg);
    }

    &:nth-child(2) {
      transform: rotate(-45deg);
    }
  }
}

.header-burger__theme-changer {
  width: 210px;
  transform: rotate(-90deg);
  justify-content: center;
  align-items: center;
  @include fontz('Gilroy', 700, 30px);
  color: var(--color-transparent);
  display: none;
  position: absolute;
  bottom: 100px;
  right: -74px;

  svg {
    margin-right: 10px;
  }
}